<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">%d{DEFAULT} [%t] %-5level [%logger{36}] - %maxLength{%msg}{1000}%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="SimulatorConsole" target="SYSTEM_ERR">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ContextMapFilter onMatch="ACCEPT" onMismatch="DENY" operator="or">
                <KeyValuePair key="SIMULATOR" value="true"/>
            </ContextMapFilter>
        </Console>
        <Routing name="Routing">
            <Routes pattern="$${ctx:ROUTINGKEY}">
                <!-- This route is chosen if ThreadContext has no value for key ROUTINGKEY. -->
                <Route key="$${ctx:ROUTINGKEY}">
                    <File name="LogFile" fileName="${sys:logFilename:-logs/cdb.log}">
                        <PatternLayout pattern="${LOG_PATTERN}"/>
                    </File>
                </Route>

                <!-- This route is chosen if ThreadContext has a value for ROUTINGKEY
                     The value dynamically determines the name of the log file. -->
                <Route>
                    <File name="Rolling-${ctx:ROUTINGKEY}" fileName="logs/other-${ctx:ROUTINGKEY}">
                        <PatternLayout pattern="${LOG_PATTERN}"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Routing"/>
            <ContextMapFilter onMatch="DENY" onMismatch="ACCEPT" operator="or">
                <KeyValuePair key="SIMULATOR" value="true"/>
            </ContextMapFilter>
        </Root>
        <Logger name="de.tum.i13.server" level="all">
            <AppenderRef ref="SimulatorConsole" level="warn"/>
            <AppenderRef ref="Routing"/>
        </Logger>
        <Logger name="de.tum.i13.client" level="all">
            <AppenderRef ref="SimulatorConsole" level="warn"/>
            <AppenderRef ref="Routing"/>
        </Logger>
    </Loggers>
</Configuration>